.head .h-top{
    width:100%;
    height:30px;
    background:#F1F1F1;
}
/*.dd{
    line-height: 24px;
}*/
.h-top .lh-top{
    height:30px;
    line-height:30px;
    color:#666666;
    position: absolute;
    left:70px;
}
.h-top .lh-top ul li{
    list-style: none;
}
.h-top .lh-top ul li .arrow{
    float:right;
    margin-top:12px;
}
/*包含箭头的盒子的设置*/
.arrow{
    display:inline-block;
    width:15px;
    height:7px;
    overflow:hidden;
    font:400 15px/15px consolas;
    /*weight size/line-height font-family*/
    /*position:absolute;
    top:12px;*/
    /*right:-18px;*/
    /*箭头旋转时 的过度效果*/
    transition:transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
}
/*箭头设置*/
.arrow s{
    width:15px;
    height:18px;
    text-decoration: none;
    position:relative;
    top:-7px;
}

.hoverarrow .arrow{
    /*箭头旋转*/
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    /*margin-right: 8px;*/
}
.hoverarrow s{
    font-size:12px;
    line-height:30px;
}
.fore0.dropdown .dt{
    /*width:82px;*/
    padding:0 2px 0 3px;
}
.fore0.dropdown .dt span{
    display:inline-block;
    margin-right:2px;
}
/*左侧悬浮层*/
.fore0 .dropdown-layer{
    display:none;
    width:300px;
    height:225px;
    position:absolute;
    top:30px;
    left:0px;
    z-index:7;
    background: white;
    padding:10px 0 10px 10px;
    border:1px solid #ddd;
}
.fore0 .dropdown-layer .item{
    width:60px;
    float:left;
    /*padding:2px 0;*/
    line-height: 28px;
}
.fore0 .dropdown-layer .item a{
    display:inline-block;
    height:24px;
    line-height: 24px;
    padding:0 8px;
    text-decoration:none;
    color:#666;
}
.fore0 .dropdown-layer .item a:hover{
    color:#C81623;
}
.fore0 .dropdown-layer .item  .a-select{
    background: #c81623;
    color:#fff;
}
.fore0 .dropdown-layer .item  .a-select:hover{
    color:#fff;
}
/*遮挡边框的块*/
.dd-spacer{
    width:82px;
    height:10px;
    background:#fff;
    position:absolute;
    top:-6px;
}
.dropdown-layer .dd-spacer{
    left:0;
}
.dropdown-layer1 .dd-spacer{
    right:0;
}


/*头部右边设置*/
.h-top .rh-top{
    height:30px;
    line-height:30px;
    float:right;
    margin-right:68px;
}
.h-top .rh-top ul li{
    list-style:none;
    float:left;
}
.h-top .rh-top ul li.spacer{
    width:1px;
    height:12px;
    background:#ddd;
    margin-top:9px;
}
.h-top .rh-top ul li .dt{
    padding:0 10px;
}
.h-top .rh-top ul li .dt a{
    display:block;
    float:left;
    font-size:12px;
    font-family:Arial,Verdana;
    color:#666666;
    text-decoration:none;
}
.h-top .rh-top ul li .dt a:hover{
    color:#c81623;

}
/*我的京东悬浮层*/
.h-top .rh-top ul li.dropdown .dropdown-layer{
    position:absolute;
    top:30px;
    background: #fff;
    z-index:10;
    border:1px solid #e4e4e4;
}
.fore4 .dropdown-layer{
    display:none;
    width:280px;
}
.fore4 .dropdown-layer .userinfo a:hover{
    color:#c81623;
}
.fore4 .dropdown-layer .userinfo{
    padding:10px 0 10px 15px;
}
.fore4 .dropdown-layer .userinfo img{
    width:60px;
    height:60px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    float:left;
}
.fore4 .dropdown-layer .userinfo dl{
    margin:8px 0 0 70px;
    line-height:24px;
}
.fore4 .dropdown-layer .userinfo a,.fore4 .dropdown-layer .otherlist a{
    text-decoration:none;
    color:#666;
}
.fore4 .dropdown-layer .userinfo dl dt a{
    font-weight:bold;
    /*font-family: PingFangSC-Light, "helvetica neue", "hiragino sans gb", tahoma, "microsoft yahei ui", "microsoft yahei", simsun, sans-serif;*/
}
.fore4 .dropdown-layer .otherlist{
    padding:10px 0 10px 15px;
}
.fore4 .dropdown-layer .otherlist .item{
    width:80px;
    float:left;
    line-height:24px;
    margin-right:44px;
}
.fore4 .dropdown-layer .otherlist a:hover{
    color:#c81623;
}
.fore7 .dropdown-layer{
    display:none;
}
.fore7 .dropdown-layer a{
    display:block;
    position:absolute;
    background:#fff;
    opacity:0;
}

.fore7 .dropdown-layer a.a{
    width:86px;
    height:20px;
    top:8px;
    left:94px;
}
.fore7 .dropdown-layer a.a1{
    width:48px;
    height:44px;
    top:44px;
}
.fore7 .dropdown-layer a.b{
    left:94px;
}
.fore7 .dropdown-layer a.c{
    left:152px;
}
.fore7 .dropdown-layer a.d{
    left:210px;
    width:40px;
}
.fore7 .dropdown-layer a.e{
    width:94px;
    height:28px;
    top:100px;
    left:94px;
}
.fore7 .dropdown-layer a.f{
    width:48px;
    height:44px;
    top:142px;
    left:94px;
}
.fore7 .dropdown-layer a.g{
    width:48px;
    height:44px;
    top:142px;
    left:152px;
}
.fore8 .dropdown-layer{
    display:none;
}
.fore9 .dropdown-layer{
    display:none;
    width:170px;
    padding-left:10px;
}
.fore9 .dropdown-layer .client{
    padding:5px 0;
    border-bottom:1px dashed #e4e4e4;
}
.fore9 .dropdown-layer .business{
    padding:5px 0;
}
.fore9 .dropdown-layer dl{
    overflow:hidden;
    line-height:24px;
}

.fore9 .dropdown-layer dl dt{
    font-weight:bold;
}
.fore9 .dropdown-layer dl dd{
    width:70px;
    float:left;
    margin-right:14px;
} 

.fore9 .dropdown-layer dl a{
    text-decoration:none;
    color:#666;
}
.fore9 .dropdown-layer dl dd a:hover{
    color:#c81623;
}
.fore10 .dropdown-layer1{
    display:none;
    width:1210px;
    margin:0 auto;
    padding:20px 0 16px;
    position:absolute;
    top:30px;
    right:67px;
    background: #fff;
    z-index:10;
    border:1px solid #e4e4e4;
}
.fore10 .dropdown-layer1 .netnav1,.netnav2,.netnav3,.netnav4{
    width:259px;
    /*overflow:hidden;*/
    float:left;
    line-height:24px;
    border-right:1px solid #e4e4e4;
    padding-left:20px;
}
.fore10 .dropdown-layer1 .netnav1{
    width:347px;
}
.fore10 .dropdown-layer1 dl dt{
    font-size:14px;
    font-weight:bold;
    color:#666;  
    margin-bottom:6px;
}
.fore10 .dropdown-layer1 dl dd{
    width:74px;
    float:left;
    margin-right:12px;
}
.fore10 .dropdown-layer1 dl dd a{
    text-decoration:none;
    color:#666;
}
.fore10 .dropdown-layer1 dl dd a:hover{
    color:#c81623;
}


.head .h-main{
    width:100%;
    height:100px;
}
.h-main .logo{
    width:360px;
    padding:20px 0;
    margin-left:70px;
    float:left;
}
.h-main .search{
    width:538px;
    float:left;
    margin-top:25px;
}
.h-main .search .search1{
    width:538px;
    height:36px;
    margin-bottom:4px;
}
.h-main .search .search1 input{
    width:446px;
    line-height:24px;
    padding:4px;
    float:left;
    border:2px solid #B61D1D;;
    border-right:none;
    outline:none;/*取消input的聚焦边框*/
}
.h-main .search .search1 button{
    float:left;
    width:82px;
    height:36px;
    background:#B61D1D;
    padding:1px 6px;
    border:none;
}
.h-main .search .search1 button a{
    text-decoration:none;
    color:#fff;
    font-size:16px;
    font-family:微软雅黑;
}
.h-main .search .hotwords ul li{
    list-style:none;
    float:left;
    margin-right:10px;
}
.h-main .search .hotwords ul li a{
    text-decoration: none;
    color:#666;
}
.h-main .search .hotwords ul li a:hover{
    color:#B61D1D;
}
.h-main .shopping{
    float:left;
    width:119px;
    height:14px;
    line-height:14px;
    padding:10px;
    background:#F9F9F9;
    border:1px solid #e4e4e4;
    position:relative;
    top:25px;
    left:106px;
}
.h-main .shopping .w-icon a{
    text-decoration:none;
    color:#666;
}
.h-main .shopping .w-icon .i-left{ 
    float:left;
    width:18px;
    height:16px;
    position:relative;
    overflow:hidden;
    margin:0 7px 1px 7px;
}
.h-main .shopping .w-icon .i-left img{
    /*width:16px;
    height:16px;*/
    position:absolute;
    top:-59px;
}
.h-main .shopping .w-icon .i-right{
    position:absolute;
    right:10px;
    font-style:normal;
    font-weight:400;
    font-size:13px;
    line-height: 13px;
    font-family: "simsun";
    color:#999;
}
.h-main .shopping .w-icon .i-count{
    width:12px;
    padding:1px 2px;
    position:absolute;
    top:-4px;
    right:22px;
    background:#c81623;
    line-height:12px;
    color:#fff;
    text-align:center;
    font-style:normal;
    border-radius:7px 7px 7px 0;

}
.h-main .shopping .s-dropdown{
    display:none;
    width:282px;
    height:47px;
    padding:10px 15px;
    border:1px solid #e4e4e4;
    background:#fff;
    position:absolute;
    top:37px;
    right:-1px;
    z-index:10;
}
.h-main .shopping .s-dropdown .s-spacer{
    width:139px;
    height:10px;
    background:#fff;
    position:absolute;
    right:0px;
    top:-7px;
}
.h-main .shopping .s-dropdown img{
    float:left;
    margin-left:32px;
}
.h-main .shopping .s-dropdown .words{
    height:49px;
    line-height:49px;
    color:#666;
}
.h-main .shopping:hover{
    background:#fff;
    box-shadow:0 0 8px #ddd;
    -webkit-box-shadow:0 0 8px #ddd;
    -moz-box-shadow:0 0 8px #ddd;
}
.h-main .shopping:hover .s-dropdown{
    display:block;
    box-shadow:0 0 8px #ddd;
    -webkit-box-shadow:0 0 8px #ddd;
    -moz-box-shadow:0 0 8px #ddd;
}

 .h-foot{
    width:100%;
    height:44px;
    border-bottom:2px solid #B1191A;
    position:absolute;
    z-index:6;
    margin-top:-1px;
}
.h-foot ul{
    position:absolute;
    left:294px;
    /*z-index:400;*/
}
.h-foot ul li{
    list-style:none;
    float:left;
    line-height:44px;
    cursor:pointer;
}
.h-foot ul li a{
    padding:0 20px;
    font-size:16px;
    font-weight:400;
    font-family:"微软雅黑";
    text-decoration:none;
    color:#333;

}
.h-foot ul li:hover a{
    color:#C81623;
}